@import "../../sass/abstract/variable.scss";
.media-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  border: 1px solid $BRANDBLACK;
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  gap: 12px;
  max-width: 300px;
  width: 100%;
  opacity: 0;
  padding: 20px;
  transform: translateY(20px);
  box-sizing: border-box;
  scroll-snap-align:center;
  max-height: 400px;
  height: 100%;
  min-width: 280px;
  @media (min-width: 1273px) {
    
  }
  @media (min-width: 769px) and (max-width: 1272px) {
    
  }

  @media (min-width: 200px) and (max-width: 768px) {
    
    
  }
  & img {
    max-width: 383px;
    max-height: 50%;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
  }

  & h2 {
    line-height: 100%;
    text-wrap: balance;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 72px;
    opacity: 0.8;
    font-size: 17px;
    text-transform: uppercase;
    @media (min-width: 1273px) {
      gap: 12px;
    }
    @media (min-width: 769px) and (max-width: 1272px) {
    }

    @media (min-width: 200px) and (max-width: 768px) {
      font-size: 17px;
    }
  }

  & a {
    font-family: Montserrat-Bold;
    text-decoration: none;
    color: $BRANDBLACK;
    display: flex;
    margin-top: auto;
    align-items: center;
    gap: 10px;
  }
}
